@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

#hero{
    background-color: tomato;
    background-image: url("../assets/hero-bg.png");
    height: 818px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-contant #hero{
    width: 818px;
}